{% extends "base.html" %} {% block content %}
    <h1>Login</h1>
    {% if wrongPassword %}
    <p>Wrong Login Data</p>
    {% endif %}
    
    <form method="post" action="/login/" style="max-width: 500px;">
        {% csrf_token %}
        <input type="hidden" name="redirect" value="{{ redirect }}">
       <div> <input  class="mdl-textfield__input" placeholder="username" name="username" type="text"></div>    <!-- name = ""   istwie eine variable  -->
        <div> <input  class="mdl-textfield__input" placeholder="passwort" name="password" type="passwort"></div> 




      
        <button
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit"
  >
    Button
  </button>
    </form>
    {% endblock %}
    
